*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:black;
}

#panel{
    position:absolute;
    top:10px;
    left:10px;
    color:white;
    z-index:100;
    background:rgba(0,0,0,.7);
    padding:15px;
    border-radius:10px;
}

button{
    margin:10px 0;
    padding:10px 20px;
    cursor:pointer;
}

#planetInfo{
    margin-top:10px;
    color:yellow;
    font-weight:bold;
}